 html, body {
  margin: 0;
  padding: 0;
}
body{
	width:90vw;
	margin-left:5vw;
}

p{
	font-family: 'Roboto', sans-serif;
	color:rgb(10,58,130);
	font-size:14px;
	line-height:20px;
	margin-top:0
	margin-bottom:0;
}

h1{
	font-family: 'Source Code Pro', monospace;
	margin-left:-5vw;
}

h2{
	font-family: 'Roboto', sans-serif;
	color:rgb(247,19,18);
	font-size:17px;
	margin-left:2vw;
}

.cite{
	color:rgb(10,58,130);
	font-size:13px;
	text-indent:0;
	padding-left:2vw;}

.artist{
	color:rgb(135,201,251);
	font-size:9vw;
	line-height:10vw;
	text-indent:0px;
	letter-spacing: 5pt;
	margin-left:3%;
}
.pullquote{
	color:rgb(135,201,81);
	font-size:25px;
	line-height:29px;
	text-indent:0;
	padding-left:5vw;}

.question{
	font-family: 'Roboto', sans-serif; 
	color:rgb(135,201,251);
	font-size:18px;
	line-height:21px;
	text-indent:0;
	padding-left:5vw;
	margin-bottom:1}

.link{
	font-family: 'Roboto', sans-serif;
	color:rgb(135,201,81);
	font-size:30px;
	line-height:29px;
	text-indent:0;
	line-height:10vh;
	padding-left:3vw;
	text-decoration: none;
	}

.back{
	font-family: 'Roboto', sans-serif;
	color:rgb(135,201,81);
	font-size:25px;
	line-height:29px;
	text-indent:10vw;
	padding-bottom:5vh;
	padding-top:5vh;
	line-height:10vh;
	padding-left:3vw;
	text-align:right;
	text-decoration: none;
}
.next{
	font-family: 'Roboto', sans-serif;
	color:rgb(135,201,81);
	font-size:25px;
	line-height:29px;
	text-indent:0;
	line-height:10vh;
	padding-left:3vw;
	text-decoration: none;
}
.rectangle{
  background-color:rgb(247,19,18);
  height: .25vh;
  width: 80vw;
}

a:hover 
	{background-color:grey;}

.img{
	width:95%;
	margin-left:3%;
}
.icon{
	width:8%;
	margin-left:0%;
	padding-left:6vw;
}
.icon2{
	width:8%;
	margin-left:0%;
	padding-left:28vw;
}
@media(min-width:950px){
	body{
		width: 500px;
		margin-left: auto;
		margin-right:auto;

	}
}



